<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://apache.org http://apache.org" xmlns="http://apache.org"
    xmlns:xsi="http://w3.org">
  <servers>
    <server>
      <username>prdevop26@gmail.com</username>
      <password>Admin123!</password>
      <id>central</id>
    </server>
    <server>
      <username>prdevop26@gmail.com</username>
      <password>Admin123!</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>https://jfrog.io</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>https://jfrog.io</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>libs-release</name>
          <url>https://jfrog.io</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>libs-snapshot</name>
          <url>https://jfrog.io</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
